<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.community.dao.CommentDao">
    <sql id="select">
        id,user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <sql id="insert">
        user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <select id="findCommentsByEntityTypeAndId" resultType="com.github.community.entity.Comment">
        select
        <include refid="select"/>
        from comment
        where status = 0 <!--status = 0 代表有效的评论-->
        and entity_type = #{entityType}
        and entity_id = #{entityId}
        order by create_time asc
        limit #{offset},#{limit}
    </select>
    <select id="findCommentsByUserId" resultType="com.github.community.entity.Comment">
        select
        <include refid="select"/>
        from comment
        where status != 1
        and user_id = #{userId}
        and entity_type = 1
        and exists (
        select id from discuss_post where id = comment.entity_id and status != 2
        )
        order by create_time desc
        limit #{offset}, #{limit}
    </select>
    <select id="findCommentsCountByUserId" resultType="int">
        select count(id) from comment
        where status != 1
        and user_id = #{userId}
        and entity_type = 1
        and exists (
            select id from discuss_post where id = comment.entity_id and status != 2
        )
    </select>

    <select id="findCommentById" resultType="com.github.community.entity.Comment">
        select
        <include refid="select"/>
        from comment
        where id = #{id}
    </select>

    <select id="findCommentsCountByEntityTypeAndId" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>
    <insert id="insertComment" parameterType="com.github.community.entity.Comment">
        insert into comment(<include refid="insert"/>)
        values(#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>
</mapper>