<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.community.dao.UserDao">
    <sql id="user">
        `username`,`password`,`salt`,`email`,`type`,`status`,`activation_code`,`header_url`,`create_time`
    </sql>
    <select id="findUserByName" parameterType="string" resultType="com.github.community.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="findUserById" parameterType="int" resultType="com.github.community.entity.User">
        select * from user where id = #{id}
    </select>
    <select id="findUserByEmail" parameterType="string" resultType="com.github.community.entity.User">
        select * from user where email = #{email}
    </select>
    <insert id="insertUser" parameterType="com.github.community.entity.User" keyProperty="id">
        insert into user
        (<include refid="user"/>)
        values
        (#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime})
    </insert>
    <update id="updateUserStatus">
        update user
        set status= #{status}
        where id = #{id}
    </update>
    <update id="updateUserHeaderUrl">
        update user
        set header_url = #{headerUrl}
        where id = #{id}
    </update>
    <update id="updateUserPassword">
        update user
        set password = #{password}
        where id = #{id}
    </update>
    <delete id="deleteUserById">
        delete from user
        where id = #{id}
    </delete>
    <select id="countUser" resultType="int">
        select COUNT(*) from user
    </select>
</mapper>